.bloco-exemplo {
    padding: 5px;
    font-size: 25px;
    min-height: 100px;
    margin-bottom: 10px;
    background-color: blue;
}

.bloco-form{
	padding: 10px;
	min-height: 200px;
	background-color: #cfffff;
}

.carrossel{
	width: 60%;
	height: 60%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.categoria{
    padding: 20px;
}

.item{
    min-height: 280px;
    /*background-color: #bbbbbb;*/
    margin: 0 auto;
}